__pycache__/

**/__pycache__

*.out

output/
train.out

*.ipynb
**/*.ipynb

.ipynb_checkpoints/
**/.ipynb_checkpoints

*.json

_old/
data/femnist/
data/CIFAR-10-C-new/
data/CIFAR-10-C/
data/Tiny-ImageNet-C-new
data/Tiny-ImageNet-C/
**/*.tar

run_debug.sh